# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

/home/amina/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv("cars1.csv")
cars2 = pd.read_csv("cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [5]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [17]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [18]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([55933, 45007, 26006, 52489, 56860, 30550, 26527, 48853, 42931,
       46894, 24056, 51549, 44410, 40665, 69470, 50409, 41748, 41863,
       55001, 56609, 16682, 61603, 39489, 16379, 61626, 41800, 21128,
       36471, 35366, 65304, 47280, 48034, 31599, 36553, 21106, 70587,
       40666, 23803, 50419, 20015, 29305, 46966, 65329, 26994, 19256,
       44761, 41717, 41935, 37635, 33560, 60522, 28943, 42205, 32269,
       30107, 40839, 23736, 28642, 16014, 49165, 35907, 61418, 37060,
       15836, 72568, 48409, 31631, 57154, 45888, 42519, 28757, 37169,
       52877, 29406, 15515, 26671, 30694, 66589, 21902, 51163, 47499,
       49083, 55317, 42939, 44540, 31705, 15666, 52005, 15226, 64177,
       60284, 29758, 32890, 42700, 52338, 67275, 21173, 30782, 47142,
       72808, 71151, 43971, 28860, 69731, 47528, 37557, 31752, 53649,
       71701, 37157, 69368, 24980, 58079, 52571, 31947, 71028, 57082,
       54923, 39324, 66544, 50526, 51847, 59704, 30330, 64199, 44847,
       53576, 16932, 63931, 47718, 60575, 56201, 31379, 29489, 44458,
       23006, 26974, 46249, 39901, 63812, 67561, 67263, 39990, 52962,
       53166, 58209, 54134, 29849, 20970, 39279, 37590, 18685, 72297,
       32887, 68906, 31843, 23260, 41848, 22685, 66054, 55014, 29649,
       72839, 52277, 30635, 60237, 35625, 46150, 33405, 26059, 63733,
       32187, 54156, 62882, 20546, 38446, 60091, 49636, 29302, 39538,
       16237, 43607, 66202, 70532, 39570, 22203, 57655, 35201, 50122,
       58987, 58963, 25082, 28146, 17004, 34522, 21872, 57206, 53308,
       60802, 25023, 67721, 49080, 62849, 39151, 46711, 43850, 29299,
       29496, 44734, 33571, 52302, 54486, 65530, 18381, 40008, 71982,
       59543, 53631, 63155, 41596, 37127, 25514, 44408, 72527, 53615,
       23941, 49622, 39908, 34606, 69398, 66636, 68046, 50854, 50770,
       61215, 29461, 72468, 15251, 70444, 56933, 71320, 66604, 62747,
       59033, 60989, 68093, 71131, 30154, 67275, 50016, 27357, 58614,
       69209, 52693, 70938, 38369, 48470, 29573, 21336, 20657, 38407,
       63208, 57356, 46958, 43133, 44926, 47526, 46713, 63055, 19858,
       39046, 34168, 31166, 34542, 48426, 18748, 34178, 62279, 69402,
       64062, 52933, 26861, 20976, 31044, 53253, 22335, 19373, 15665,
       23145, 20534, 56382, 65646, 55551, 37867, 47194, 19953, 44353,
       48321, 21955, 28022, 71709, 65228, 58816, 36204, 20443, 15844,
       65659, 27671, 25831, 48249, 71930, 50956, 55186, 48036, 27951,
       16785, 44224, 70929, 61960, 53151, 16709, 36312, 32686, 36954,
       54858, 15662, 16042, 24457, 57426, 24643, 65868, 67170, 70400,
       71769, 29825, 44368, 71347, 72289, 29853, 27454, 34175, 67163,
       60315, 52000, 39080, 22179, 29423, 36295, 61790, 20084, 49562,
       29565, 44720, 33829, 55225, 15981, 51696, 17087, 68959, 72244,
       15654, 69361, 15277, 68506, 53005, 32426, 23128, 44549, 15661,
       50343, 30782, 71533, 25395, 31885, 43269, 48842, 43327, 43585,
       53240, 32427, 57328, 41331, 41032, 58620, 23960, 37332, 71590,
       39066, 16677, 66529, 66327, 17605, 42662, 55192, 71117, 43832,
       26218, 33316])

### Step 8. Add the column owners to cars

In [19]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,55192
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,71117
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,43832
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,26218
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,33316